<!DOCTYPE html>
<html lang="en-US">
<head>
</head>
<header>header goes here</header>
<nav>
nav goes here
</nav>
<section>
body goes here
<ul>
{{#group_list}}
  <li><a href="{{base_url}}/groups/{{clgid}}" title="view group details">{{group_name}}</a></li>
{{/group_list}}
</ul>
</section>
<footer>footer goes here</footer>
</html>
